python-dotenv
PyPDF2
langchain
langchain-core
langchain-huggingface
sentence-transformers
transformers
pinecone-client
langchain-pinecone
google-generativeai
langchain-google-genai
gradio
tqdm
